<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://lainamegenerator.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/179f0494-7d16-4d19-997a-4947150f7c57/resourcegroups/AzureFunctionDemo/providers/Microsoft.Web/sites/LaiNameGenerator</ResourceId>
    <PublishUrl>https://lainamegenerator.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>